<?xml version="1.0"?>
<config>
  <modules>
    <Babu_Romance>
      <version>0.1.0</version>
    </Babu_Romance>
  </modules>
  <frontend>
    <routers>
      <romance>
        <use>standard</use>
          <args>
            <module>Babu_Romance</module>
            <frontName>romance</frontName>
          </args>
      </romance>
    </routers>
		<layout>
		  <updates>
			<romance>
			  <file>romance.xml</file>
			</romance>
		  </updates>
		</layout>
  </frontend>
  <global>
    <helpers>
      <romance>
        <class>Babu_Romance_Helper</class>
      </romance>
    </helpers>
	<blocks>
	  <romance>
		<class>Babu_Romance_Block</class>
	  </romance>
	</blocks>
  </global>
</config> 