<?xml version="1.0"?>
<config>
    <modules>
        <Shivangi_Avi>
            <version>0.1.0</version>
        </Shivangi_Avi>
    </modules>
    <frontend>
        <routers>
            <avi>
                <use>standard</use>
                <args>
                    <module>Shivangi_Avi</module>
                    <frontName>avi</frontName>
                </args>
            </avi>
        </routers>
        <layout>
            <updates>
                <avi>
                    <file>avi.xml</file>
                </avi>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<avi>
				<use>admin</use>
				<args>
					<module>Shivangi_Avi</module>
					<frontName>avi</frontName>
				</args>
			</avi>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<avi module="avi">
				<title>Avi</title>
				<sort_order>71</sort_order>               
				<children>
					<items module="avi">
						<title>Manage Items</title>
						<sort_order>0</sort_order>
						<action>avi/adminhtml_avi</action>
					</items>
				</children>
			</avi>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Shivangi_Avi>
							<title>Avi Module</title>
							<sort_order>10</sort_order>
						</Shivangi_Avi>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<avi>
					<file>avi.xml</file>
				</avi>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <avi>
                <class>Shivangi_Avi_Model</class>
                <resourceModel>avi_mysql4</resourceModel>
            </avi>
            <avi_mysql4>
                <class>Shivangi_Avi_Model_Mysql4</class>
                <entities>
                    <avi>
                        <table>avi</table>
                    </avi>
                </entities>
            </avi_mysql4>
        </models>
        <resources>
            <avi_setup>
                <setup>
                    <module>Shivangi_Avi</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </avi_setup>
            <avi_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </avi_write>
            <avi_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </avi_read>
        </resources>
        <blocks>
            <avi>
                <class>Shivangi_Avi_Block</class>
            </avi>
        </blocks>
        <helpers>
            <avi>
                <class>Shivangi_Avi_Helper</class>
            </avi>
        </helpers>
    </global>
</config>